
<%= render partial: 'introduction'%>

<%= render partial: 'shared/carousel' %>

<p> Paul and Jane Sullivan had been growing peppers on their farm oustide Albuquerque for fourteen years.  In 1966, they were shocked when their harvest exceeded expectations and produced double their expected yield!</p>
<br>
<p> With more peppers than they knew what to do with, they opened up a stand on the side Highway 66 and began selling them with their sons David and Jason. In 1966, the peppers sold 1 pepper or 5 for a dollar at the highway stand.  Because their peppers were grown and sold fresh and inexpensive, word quickly spread and before long a line started to form off the side of the highway during both Albuquerque's morning and evening rush hours!</p>
<br>
<p>With their unexpected success from 1966's harvest, the Sullivans bought twenty more acres for 1967's pepper crop and again found that customers again lined up next to Highway 66 for their tasty fresh peppers!</p>
<br>
<p>In 1968, the Sullivans rented a storefront from July-November 1968 in downtown Albuquerque, and incorporated New Mexico's Finest Peppers as an LLC. When the harvest came, locals lined up again for their fresh peppers.  The only difference was they were now sold in a storefront in downtown Albuquerque rather than the highway</p>
<br>
<p>During the 1970's, the Sullivans experimented with hydroponic soils and found that they could now grow their peppers both indoor and outdoors.  This proved to be the biggest change for New Mexico's Finest Peppers as it now meant that the peppers could be farmed and harvested all year long!  With fresh peppers on-hand 365 days a year, the Sullivans kept their store open all-year starting in 1975.</p>
<br>
<p>Since 2001, people across North America have been able to enjoy New Mexico's Finest Peppers with the creation of the website allowing for custom orders.  Today, New Mexico's Finest Peppers can deliver the best peppers in the world to you in one just one business day.</p>
<br>



