<%= render partial: 'introduction'%>

<p>Looking to rent a bike in Berlin?  Bike Berlin has over 5000 bikes docked at 250 bikeracks all throughout Berlin.  To rent one, simply download our app and do the following:</p>
<ol>
	<li>Locate a bikerack near you either via our location services or by selecting one from our city map of Berlin</li>  
	<li>Click "Rent a Bicycle"
	Bike Berlin will reserve a bicycle for you to rent at that bikerack.</li>
	<li>Head to the bike rack and type in the reservation number from your app into the panel</li> 
	<li>The panel will indicate which bike has unlocked for you</li>
	<li>Ride!!!</li>
</ol>

