<%= render partial: 'introduction'%>
<%= render partial: 'shared/carousel' %>
<h2>Contact Us</h2>
<ul>
	<li>Address: 123 Main Street. 
		Albuquerque, New Mexico 87103
	<li>Phone: 505-555-5555</li>
	<li>Email: peppers@nmfp.com</li>
</ul>
