// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {color: #00f}

h4 {color: #00f; display: block; margin-left: 30px }

@product.each {display: inline;}

.boxed {height: 350px;}

#pic1 {width: 190px; height: 170px; margin: 0 auto}

.form-label {color: #000; font-size: 1.25em;}

.form-control {width: 100%; border-radius: 5px; border: 1px solid;}

#textbox {height: 180px}

#comments {padding: 20px 0 40px;}

.strong {display:inline-block}

#display {padding: 25px 0 40px 50px}

#pic2 {display: inline-block; margin-left: 30px; width: 210px; height: 190px}

.new-review img {position: relative; top: 5px; left: 30px}

.product-reviews {float: left}

.rated {display: inline-block; text-align: left}

h5 {color: #00f}

.rated {display: inline-block; text-align: left}

.rated img {position: relative; top: 5px; left: 15px}

h5 {color: #00f}


