// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {color: #00f}

@product.each {display: inline;}

.boxed {height: 350px;}

#pic {width: 190px; height: 170px}

.form-label {color: #000; font-size: 1.25em;}

.form-control {width: 33.3%; border-radius: 5px; border: 1px solid;}

#textbox {height: 180px}