// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {box-sizing: border-box}

body {background-color: #A3F9FF;}

/*Navigation bar*/

#navbar {background: #00f;}

.navbar-inverse .navbar-nav>.active>a {background-color: #00f;}

.navbar-default .navbar-nav>li>a {color: #fff;}

.navbar-header>a {display: inline; position: relative; top: 21px; color: #fff; left: -15px;}

.navbar-default .navbar-brand {color: #fff; font-size: 1.5em; font-family: Calibri; font-weight: bold; text-transform: uppercase; margin: 5px;}

nav a {display: inline; font-family: Calibri; font-size: 1.5em; font-weight: bold; text-transform: uppercase; margin: 5px;}


#nav-buttons1  {float: left}

#nav-buttons2 {float: right}

/*picture*/
.content {margin: auto; width: 70%;}

/*body of page*/

h1 {color: #00f; font-family: Calibri; font-size: 3em; font-weight: bold; text-align: center;}

h2 {color: #00f; font-family: Calibri, sans-serif; font-size: 2.5em; font-weight: bold; text-align: center;}

h3 {color: #000; font-family: Calibri, sans-serif; font-size: 2em; text-align: center; padding: 30px 0;}

p {padding-top: 5px;}

/*carousel*/

.carousel-caption {color: blue; position: relative; left: 5px; z-index: -1; font-size: 1.2em;}

a.left.carousel-control {opacity: 0;}

a.right.carousel-control {opacity: 0;}

span.glyphicon.glyphicon-chevron-left {opacity: 0.5;}

img {margin: 0 auto; width: 65%;}

/*footer*/

footer {text-align: center; font-size: 1em; color: #00f;}
