// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {box-sizing: border-box}

body {background-color: #A3F9FF;}

/*Navigation bar*/

#navbar {background: #00f;}

.navbar-inverse .navbar-nav>.active>a {background-color: #00f;}

.navbar-inverse .navbar-nav>li>a {color: #fff;}

nav li {display: inline; font-family: Calibri; font-size: 1.75em; font-weight: bold; text-transform: uppercase; margin: 5px;}

nav ul {float: left}

/*picture*/
.content {margin: auto; width: 50%;}

/*body of page*/

h1 {color: #00f; font-family: Calibri; font-size: 2.5em; font-weight: bold; text-align: center;}

h2 {color: black; font-family: Calibri; font-size: 2em; font-weight: bold; text-align: center;}

/*footer*/

footer {text-align: center; font-size: 1em;}
