// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-label {color: #000; font-size: 1.25em;}

.form-control {width: 100%; border-radius: 5px; border: 1px solid;}

.actions {width: 100%}

.alert-link {text-align: center; font-weight: 900; font-size: 2em;}

.holder {padding-left: 160px;}